@import url('http://fonts.cdnfonts.com/css/gotham');
/* font-family: 'Gotham', sans-serif;
font-family: 'Gotham Black', sans-serif;
font-family: 'Gotham Light', sans-serif;
font-family: 'Gotham Thin', sans-serif;
font-family: 'Gotham XLight', sans-serif;
font-family: 'Gotham Book', sans-serif;
font-family: 'Gotham Ultra', sans-serif; */

body{
    
}

/* SANAZ CSS */
#navbar {
    display: inline-block;
    width: 240px;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 3px;
    color: #f0f0f0;
    padding: 15px;
}

#navbar a{
    text-decoration: none;
    margin-left: 8px;
}

.links{
    margin-top: 5px;
    font-family: 'Gotham', sans-serif;
    font-weight: 700;
    color: #f0f0f0;
    opacity: 0.7;
}

.links:hover{
    opacity: 1;
}

#logo{
    margin-bottom: 20px;
}

#navbar p{
    display: inline-block;
    color: #f0f0f0;
    text-align: center;
    margin-top: 1px;
    margin-left: 7px;
}

.links p{
    font-size: 14px;
}

#yourLibrary{
    margin-bottom: 20px;
}

.links-small{
    font-weight: 600; 
    opacity: 0.7;
}

.links-small p{
    font-size: 13px;
}

.links-small:hover{
    opacity: 1;
}

/* END SANAZ CSS */